{% extends "base.html" %}
{% load static %}

{% block title %}Add Instructor{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="base_container d-flex align-items-center justify-content-center">
            <div class="animated_background bg_ab"></div>
            <div class="base_card small_card big_card">
                <form method="POST" action="{% url 'account:RegisterInstructor' %}">
                    {% csrf_token %}
                    <div class="card-header mb-3">
                        <h1 class="card-title d-flex align-items-center justify-content-center">
                            <i class="fas fa-chalkboard-teacher"></i>
                            Add Instructor
                        </h1>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="fas fa-user form_icon"></i>
                        <input type="text" class="form-control" id="RegisterUsername"
                               name="staff_username" placeholder=" " value="{{ staff_username|default:'' }}" required>
                        <label for="RegisterUsername">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="fas fa-lock form_icon"></i>
                        <input type="password" class="form-control" id="RegisterPassword"
                               name="staff_password" placeholder=" " required>
                        <label for="RegisterPassword">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="fas fa-lock form_icon"></i>
                        <input type="password" class="form-control" id="RegisterConfirmPassword"
                               name="staff_confirm_password" placeholder=" " required>
                        <label for="RegisterConfirmPassword">Confirm Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="fas fa-envelope form_icon"></i>
                        <input type="email" class="form-control" id="RegisterEmail"
                               name="staff_email" value="{{ staff_email|default:'' }}" placeholder=" " required>
                        <label for="RegisterEmail">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="fas fa-user-circle form_icon"></i>
                        <input type="text" class="form-control" id="RegisterFirst"
                               name="staff_first_name" value="{{ staff_first_name|default:'' }}" placeholder=" "
                               required>
                        <label for="RegisterFirst">First Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="fas fa-user-circle form_icon"></i>
                        <input type="text" class="form-control" id="RegisteredLast"
                               name="staff_last_name" value="{{ staff_last_name|default:'' }}" placeholder=" " required>
                        <label for="RegisteredLast">Last Name</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-custom w-100">
                        <i class="fas fa-user-plus me-2"></i>
                        Add Instructor
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}