{% extends "base.html" %}
{% load static %}
{% block title %}
    Register Page
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static '' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex login_use ">
            <div class="container align-content-center justify-content-center">
                <div class="shadow card">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <div class="card-title"><h1>Register Page</h1></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="RegisterUsername" name="username" type="text" class="form-control"
                                   placeholder="Username" required="">
                            <label for="RegisterUsername">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="RegisterPassword" name="password1" type="password" class="form-control"
                                   placeholder="Password"
                                   required="">
                            <label for="RegisterPassword">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="RegisterConfirmPassword" name="password2" type="password" class="form-control"
                                   placeholder="Confirm Password"
                                   required="">
                            <label for="RegisterConfirmPassword">Confirm Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="RegisterEmail" name="email" class="form-control" placeholder="Email" type="email"
                                   required="">
                            <label for="RegisterEmail">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="RegisterFirst" name="first_name" class="form-control
" placeholder="First name" type="text" required="">
                            <label for="RegisterFirst">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="RegisteredLast" name="last_name" class="form-control" placeholder="Last name"
                                   type="text" required="">
                            <label for="RegisteredLast">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                        <p>Already register? <a href="{% url 'account:login' %}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}